.overview {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-auto-rows: 40%;
	overflow: scroll;
	margin: 1rem 0;
	max-height: 250px;
}
.input_income {
	margin: 0 5px;
	display: flex;
}

.submitBtn {
	width: 40%;
}

.form {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
}

.paginationControll {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.pageDots,
.pageBack,
.pageForward {
	display: inline;
	width: 5%;
	margin: 5% 10%;
}

.currentPageDot {
	width: 5%;
}

.item_counter {
	display: flex;
	margin-top: 2rem;
	justify-content: flex-end;
}

@media (min-width: 720px) and (min-height: 1020px) {
	.overview {
		max-height: 450px;
	}
}
