.header {
	display: grid;
	position: absolute;
	top: 1rem;
	align-items: center;
	grid-template-columns: repeat(4, 25%);
	width: 100%;
}

.account {
	height: 30%;
	grid-column: 4 / 5;
	justify-self: end;
	margin-right: 1rem;
}

.account:hover {
	cursor: pointer;
}

.backBtn {
	height: 30%;
	grid-column: 1 / 2;
	margin-left: 1rem;
}

.backBtn:hover {
	cursor: pointer;
}
