.overview {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-auto-rows: auto;
	margin: 2rem 0;
}
.input_income {
	margin: 0 2rem;
	display: flex;
	width: 25%;
}

.submitBtn {
	width: 25%;
}

.form {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
}

.paginationControll {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.pageDots,
.pageBack,
.pageForward {
	display: inline;
	width: 3%;
	margin: 5% 10%;
}

.currentPageDot {
	width: 5%;
}

.item_counter {
	display: flex;
	margin-top: 2rem;
	justify-content: end;
}
