.overview {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-auto-rows: auto;
	margin: 2rem 0;
}
.input_income {
	margin: 0 2rem;
	display: flex;
	width: 25%;
}

button {
	width: 25%;
}

.form {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: 50%;
	width: 100%;
}
