.login {
	text-align: center;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.input {
	width: 50%;
	margin: 18px;
	padding: 5px 0px;
}

.loginBtn {
	background-color: rgb(115, 232, 244);
	text-decoration: none;
	border-color: black;
}

.loginBtn:active {
	background-color: rgb(115, 232, 244);
	text-decoration: none;
	border-color: black;
	border-style: inset;
}
.signUpBtn {
	background-color: rgb(138, 242, 203);
	text-decoration: none;
	border-color: black;
}
.signUpBtn:active {
	background-color: rgb(138, 242, 203);
	text-decoration: none;
	border-color: black;
	border-style: inset;
}
