.financeTable {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-gap: 10%;
	margin: 5% -5%;
}

.incomeTable {
	width: 50%;
	display: grid;
}

.billsTable {
	width: 50%;
	display: grid;
}
