button {
	width: 51%;
}

.financeTable {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	margin: 5% 0;
	justify-items: center;
}

.incomeTable {
	width: 50%;
	display: grid;
}

.billsTable {
	width: 50%;
	display: grid;
}
