@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

#root {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

body {
	text-align: center;
	display: inline-block;
	background-image: linear-gradient(white, #00ffe7);
}

input {
	width: 6rem;
}

h1,
h2,
h3 {
	padding: 8px;
	margin: 0;
	font-family: 'Playfair Display', serif;
	font-size: 1.3rem;
}

button {
	width: 100%;
	margin: 3% auto;
	padding: 4px;
	background-color: rgb(115, 232, 244);
	text-decoration: none;
	border-color: black;
}

button:active {
	background-color: rgb(115, 232, 244);
	text-decoration: none;
	border-color: black;
	border-style: inset;
}

.mainSection {
	position: absolut;
	top: 2rem;
}
