#root {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

body {
	text-align: center;
	display: inline-block;
}

button {
  display: inline-block;

}

input {
	width: 6rem;
}
